.modal {
  background-color: #40e0d0;
  color: #ffffff;
}

.modal-close {
  color: #ffffff;
  transition: color 0.3s;
}

.modal-close:hover {
  color: #ff6347;
}

.modal .abilities,
.modal .types {
  background-color: #48d1cc;
  color: #ffffff;
}

.modal .abilities li {
  background-color: #fdae42;
}

.modal .types li {
  background-color: #b8b8b8;
}
